* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-image: url(../images/money-8458556_1280.webp);
    background-size: cover;
    position: relative;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 100px;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8)
}

.container {
    max-width: 550px;
    width: 100%;
}

.container-form {
    background: #fff;
    padding: 25px 30px;
    border-radius: 5px;
    width: 100%;
}

h2 {
    text-align: center;
    font-size: 35px;
    line-height: 100px;
    background-color: #000000;
    color: #ffffff;
}

h2 img {
    width: 50px;
    height: auto;
}

h2 .pay {
    width: 220px;
}

.container form .user-details {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

form .user-details .input-box {
    margin-bottom: 15px;
    width: 100%;
}

.user-details .input-box .details {
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}

.user-details .input-box input {
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}

.user-details .input-box input:focus,
.user-details .input-box input:valid {
    border-color: #eab106;
}


form .button {
    height: 45px;
    margin-bottom: 15px;
}

form .button input {
    height: 100%;
    width: 100%;
    outline: none;
    color: #fff;
    border: none;
    font-size: 18px;
    font-weight: 500;
    border-radius: 5px;
    letter-spacing: 1px;
    background: linear-gradient(-135deg, #eab106, #000000);
    /* background: linear-gradient(-135deg, #000000, #eab106); */
}

.checkbox-group {
    width: 100px;
    display: flex;
    align-items: center;
    /* gap: 8px; */
    /* Space between checkbox and label */
}

.checkbox-group input[type="checkbox"] {
    margin: 0;
    height: 12px;
    /* Remove any default margin for better alignment */
}

.bc {
    background-color: rgb(244, 232, 189);
    margin-bottom: 0;
}

.bc h2 {
    background: none;
    color: #000000;
}

/* form a {
    color: #00000084;
} */

form .button input:hover {
    opacity: 0.8;
    transition: 0.8s;
}